@model UserRoleListViewModel

@{
    ViewData["Title"] = "Rol Ekleme";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Yeni Rol Ekleme</h2>
            <form id="AddUserRoleForm" class="form-sample" asp-controller="UserRoleManagement" asp-action="CreateUserRole" method="post">
                <div class="form-group row">
                    <label asp-for="RoleName" class="col-sm-2 col-form-label">Rol Adı</label>
                    <div class="col-sm-10">
                        <input asp-for="RoleName" class="form-control" type="text" placeholder="Rol Adı" />
                    </div>
                </div><div class="form-group row">
                    <label asp-for="IsActive" class="col-sm-2 col-form-label">Aktif Mi?</label>
                    <div class="col-sm-10">
                        <input asp-for="IsActive" type="checkbox" checked/>
                    </div>
                </div>
                <div class="form-group row">
                    <span class="col-sm-2"></span>
                    <div class="col-sm-10">
                        <input type="submit" value="Kaydet" class="btn btn-outline-success" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>